$color-primary: rgb(190, 247, 249); 
$color-secondary:  rgb(138, 135, 125);
$color-white:white;
$color-black: black;
$color-hover:rgb(224, 195, 224);
$color-hover:rgb(230, 221, 200);

/*Fonts*/
$font-sans: "Rubrik", sans-serif;
$font-size-xxl: 3.75rem;
$font-size-xl: 1.75rem;
$font-size-l: 1.25rem;
$font-size-m: 1rem;
$font-size-s: 0.75rem;





