$color-primary: rgba(38, 94, 17, 0.267); 
$color-secondary:  rgb(168, 168, 141);
$color-white:white;
$color-black: black;
$color-hover-main:#15604d;
$color-hover:rgb(249, 243, 229);

/*Fonts*/
$font-sans: "Rubrik", sans-serif;
$font-size-xxl: 3.75rem;
$font-size-xl: 1.75rem;
$font-size-l: 1.25rem;
$font-size-m: 1rem;
$font-size-s: 0.75rem;
$font-size-xs: 0.45rem;


