@use "./variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: swap;
}
body{
  overflow: hidden;
    background-image: url(../images/back-to-school-5750661_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    // background-color: v.$color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quiz{
    background-color: rgb(194, 197, 236);
    padding: v.$font-size-xxl;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 20vh;
    

      &-header{
        padding: v.$font-size-xl;
        background-color: v.$color-white;
        font-weight: 500;
        display: flex;
        flex-direction:column;
        align-items: center;
        row-gap: v.$font-size-m;
        margin-bottom: v.$font-size-xl;
    }
      &-list{
        letter-spacing: 0.1rem;
        list-style: none;
        line-height: v.$font-size-xl;
        
      }
      & li{
        background-color: rgb(254, 254, 216);
        margin: v.$font-size-m;
        padding: v.$font-size-m;
        
      }
      
}
.submit{
  padding: v.$font-size-m;
  background-color: v.$color-secondary;
  border-radius:v.$font-size-m;
  border-style: none;
  text-transform: uppercase;
  letter-spacing:0.2rem;
  font-weight:500;
  margin-top: v.$font-size-xl;
  &:hover{
  background-color:v.$color-hover;
  font-weight: 700;
  }
 }
