@use "./variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: swap;
}
body{
  overflow: hidden;
     background-image: url(../images/back-to-school-5750661_1280.jpg);
     background-size: cover;
    background-position-y:center;
    // background-color: v.$color-primary;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.quiz{
    background-color:v.$color-hover-main;
    padding: v.$font-size-xxl;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 20vh;
      &-header{
        padding: v.$font-size-xl;
        background-color: v.$color-white;
        // font-weight: 500;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: v.$font-size-m;
        margin-bottom: v.$font-size-xl;
        line-height: v.$font-size-xl;
       
    }
      &-list{
        letter-spacing: 0.1rem;
        list-style: none;
        line-height: v.$font-size-xl;
        font-weight: 500;  
      }
      &-list .answer{
        width:2rem;
      }
     
      & li{
        background-color:rgb(245, 247, 206);
        margin: v.$font-size-m;
        padding: v.$font-size-m;   
      }
      & li:hover{
        background-color: v.$color-hover;
        text-transform: uppercase;
      }
      
}
h1{
  color:v.$color-black;
  text-align: center;
  font-family: Verdana, sans-serif
 
}
.submit{
  padding: v.$font-size-s;
  background-color: v.$color-hover;
  color: v.$color-black;
  border-radius:v.$font-size-m;
  border-style: none;
  text-transform: uppercase;
  letter-spacing:0.2rem;
  font-weight:700;
  margin-top: v.$font-size-xl;
  &:hover{
  background-color:v.$color-secondary;
  font-weight: 700;
  color:v.$color-white;
  }
 }

 @media (max-width:580px){

 body{
    background-image: none;
    background-color: v.$color-primary;
    height: 100vh;
}
.quiz{
    background-color:v.$color-hover-main;
    padding:v.$font-size-xs;
    margin:v.$font-size-s;
      &-header{
        padding: v.$font-size-l;
        background-color: v.$color-white;
        font-weight:10px;
        
        margin-bottom: v.$font-size-xl;
        margin-top: v.$font-size-xl;
        line-height: v.$font-size-xl;
       
    }
      &-list{
        
        text-transform: none; 
      }
      &-list .answer{
        width:1.5rem;
      }
     
      & li{
        background-color:rgb(250, 252, 196);
        margin: v.$font-size-m;
        padding: v.$font-size-s;   
      }
      & li:hover{
       
        text-transform:none;
      }
      
}
h1{
  color:v.$color-black;
  font-size: 0.6rem;

}
.submit{
  margin-bottom: v.$font-size-xl;
  }
 }
